## Python Data Structures:
    - List
    - Tuple
    - Dictionaries
    - sets

### List:
    - It is ordered collection of different data types..
    - In python List is written in square brackets([]).
    - Each and every item seperated with comma(,)
    - It is similar to arrays.
    - index position starts from 0 to size-1.
    - It is mutable(changable).
    - In list each and every item access with index position..
    - using list constructor we can create the list.

#### Declaration of list:
  - syntax:  list_name=[value1,value2,....valuen]

In [2]:
# Initialization of list..
L1=[10,20,"apssdc",10.3,'python',45,100]
print(L1)
print(type(L1))

[10, 20, 'apssdc', 10.3, 'python', 45, 100]
<class 'list'>

#### Accessing the elements from the list:
   - indexing and slicing

In [3]:
L1

[10, 20, 'apssdc', 10.3, 'python', 45, 100]

In [4]:
L1[2]

'apssdc'

In [5]:
L1[6]

100

In [6]:
L1[0:4]

[10, 20, 'apssdc', 10.3]

In [9]:
print(L1)
L1[0:6:2]

[10, 20, 'apssdc', 10.3, 'python', 45, 100]

[10, 'apssdc', 'python']

In [10]:
print(L1)
L1[::-1]# To print the list in reverse order...

[10, 20, 'apssdc', 10.3, 'python', 45, 100]

[100, 45, 'python', 10.3, 'apssdc', 20, 10]

In [11]:
# Adding Two lists..
L2=[10,20,30,40]
L3=[11,22,33,44,55]
L2+L3

[10, 20, 30, 40, 11, 22, 33, 44, 55]

In [12]:
L3[-1]# To get the last element from the list

55

In [13]:
L3[-2]

44

In [18]:
# Update the list...
print(L2)
L2[1]=205
print(L2)

[10, 205, 30, 40]
[10, 205, 30, 40]

In [19]:
# To find the length of the list..
len(L2)

4

In [20]:
# To find the maximum element from the list..
print(L2)
max(L2)

[10, 205, 30, 40]

205

In [21]:
# To find the minimum element from the list..
print(L2)
min(L2)

[10, 205, 30, 40]

10

In [22]:
# To find the sum of all list elements using sum..
print(L2)
sum(L2)

[10, 205, 30, 40]

285

### Using for loop get the list of values..

In [23]:
print(L2)

[10, 205, 30, 40]

In [25]:
for i in L2:
    print(i)

10
205
30
40

In [26]:
for i in L1:
    print(i,end=" ")

10 20 apssdc 10.3 python 45 100

### List Methods:

In [27]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### append:
  - To add the new element to the end of the list..
  - syntax: list_name.append(element)

In [29]:
# example program on append method..
List1=[10,20,30,40,50]
List1.append(44)
List1.append(37)
List1.append(21)
print(List1)

[10, 20, 30, 40, 50, 44, 37, 21]

#### insert:
 - It is used to insert an element in specific position..
 - syntax: list_name.insert(posion,element)

In [30]:
# example program on insert..
List1
List1.insert(2,100)
print(List1)

[10, 20, 100, 30, 40, 50, 44, 37, 21]

#### extend:
 - To add the multiple elements to the end of the list..
 - syntax: list_name.extend([value1,value2...]

In [31]:
# example program on extend..
print(List1)
List1.extend(['apssdc','welcome',23.5,67])
print(List1)

[10, 20, 100, 30, 40, 50, 44, 37, 21]
[10, 20, 100, 30, 40, 50, 44, 37, 21, 'apssdc', 'welcome', 23.5, 67]

In [32]:
L5=[1,2,3]
List1.extend(L5)
print(List1)

[10, 20, 100, 30, 40, 50, 44, 37, 21, 'apssdc', 'welcome', 23.5, 67, 1, 2, 3]

In [33]:
A=[1,2,3,4]
B=[11,22,33,44]
A+B

[1, 2, 3, 4, 11, 22, 33, 44]

In [34]:
A

[1, 2, 3, 4]

#### Count:
- To print the number of occurences of a given element in the list..
- syntax: list_name.count(element)

In [38]:
# example program on count..
L1=[10,20,30,10,30.45,60,55,45]
print(L1)
print(L1.count(10))
print(L1.count(55))
print(L1.count(100))

[10, 20, 30, 10, 30.45, 60, 55, 45]
2
1
0

#### index:
 - It returns the index position of a given element from the list..
 - syntax: list_nmae.index(element)

In [39]:
# example program on index..
print(L1)
print(L1.index(60))
print(L1.index(10))

[10, 20, 30, 10, 30.45, 60, 55, 45]
5
0

#### pop:
- To delete an element from the list..
- 1)syntax:  list_nmae.pop()
- 2)syntax:  list_nme.pop(index_position)

In [40]:
# example program on pop...
print(L1)
print(L1.pop())
print(L1)

[10, 20, 30, 10, 30.45, 60, 55, 45]
45
[10, 20, 30, 10, 30.45, 60, 55]

In [45]:
print(L1)
print(L1.pop(2))
print(L1)

[10, 20, 60, 55]
60
[10, 20, 55]

#### remove:
- to delete the particular element from the list..
- syntax: list_name.remove(element)

In [7]:
L3=[11,22,33,44]
print(L3)
print(L3.remove(33))
print(L3)

[11, 22, 33, 44]
None
[11, 22, 44]

#### reverse:
 - To print the list in reverse order..
 - syntax: list_name.reverse()

In [9]:
# example program on reverse..
L1=[10,20,30,40,50,60,100]
print(L1)
L1.reverse()
print(L1)

[10, 20, 30, 40, 50, 60, 100]
[100, 60, 50, 40, 30, 20, 10]

#### Sort:
- To print the list in ascending order or descending order
- syntax 1): list_name.sort()-->It returns the list in ascending order
- syntax 2): list_name.sort(reverse=True)-->It returns in descending order

In [12]:
L1=[10,2,14,35,6,78,10,23,100]
L1.sort()
print(L1)

[2, 6, 10, 10, 14, 23, 35, 78, 100]

In [13]:
L1.sort(reverse=True)
print(L1)

[100, 78, 35, 23, 14, 10, 10, 6, 2]

#### copy:
- to copy the data from one list to another list
- syntax: new_list=old_list.copy()

In [14]:
L5=[10,34,56,78,23]
L4=[]
L4=L5.copy()
print(L4)

[10, 34, 56, 78, 23]

#### clear:
- To clear the data from the list..
- syntax: list_name.clear()

In [15]:
print(L1)
L1.clear()
print(L1)

[100, 78, 35, 23, 14, 10, 10, 6, 2]
[]